$color-lila: #b494bc;
$color-lila2: #bfa8c5;
$color-gris: #cacaca;
$color-gris2: #dadada;
$color-blanco: #fff;
$color-negro: #000;
$display-flex: flex;
$display-grid: grid;
$font-family_1: 'poppins', sans-serif;